/* INÍCIO BANNER CULTURA */
.bannerCultura {
    width: 100%;
    height: 530px;
    background: linear-gradient(black, rgb(0, 0, 0, 0.2), black), url(https://miro.medium.com/max/3000/1*31das_rcgqZI26W2olj41g.jpeg);
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px black;
}

.bannerCultura h1 {
    color: white;
    font-size: 50px;
}

/* FIM BANNER CULTURA */

/* INÍCIO NASCIMENTO */
.nascimento {
    padding-top: 60px;
    padding-bottom: 10px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0), rgb(26, 21, 21), rgb(26, 21, 21), rgb(0, 0, 0));
    height: 400px;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nascimento h1 {
    margin-bottom: 15px;
    width: 70%;
    float: right;
    color: rgb(173, 116, 7);
}

.nascimento img {
    float: left;
    width: 400px;
}

.nascimento p {
    border-radius: 10px;
    margin-top: 30px;
    padding-left: 35px;
    color: white;
    font-size: 20px;
    text-align: justify;
    width: 64%;
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

/* FIM DO NASCIMENTO */

/* INÍCIO AGOGÊ */
.agoge {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(26, 21, 21));
    height: 800px;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agoge h1 {
    margin-bottom: 30px;
    width: 50%;
    float: left;
    color: rgb(173, 116, 7);
}

.agoge img {
    float: right;
    width: 40%;
}

.agoge p {
    margin-bottom: 50px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-align: justify;
    width: 57%;
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

.agoge2 h1 {
    margin-bottom: 15px;
    width: 70%;
    float: right;
    color: rgb(173, 116, 7);
}

.agoge2 img {
    float: left;
    width: 450px;
    margin-top: 150px;
}

.agoge2 p {
    border-radius: 10px;
    margin-top: 100px;
    padding-left: 35px;
    color: white;
    font-size: 20px;
    text-align: justify;
    width: 60%;
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

/* FIM DO AGOGÊ */

/* INÍCIO MULHERES ESPARTANAS */
.mulheres {
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: rgb(0, 0, 0);
    height: 450px;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mulheres h1 {
    margin-bottom: 15px;
    width: 77%;
    float: left;
    color: rgb(173, 116, 7);
}

.mulheres img {
    float: right;
    width: 23%;
}

.mulheres p {
    border-radius: 10px;
    margin-top: 30px;
    padding-right: 35px;
    color: white;
    font-size: 20px;
    text-align: justify;
    width: 74%;
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

/* FIM MULHERES ESPARTANAS */